<div class="container">
    <form (ngSubmit)="onSubmit(appointmentForm.value)" #appointmentForm="ngForm">

        <mat-horizontal-stepper #stepper linear="true">

            <mat-step>

                <ng-template matStepLabel>Onderwerp</ng-template>

                <mat-form-field class="full-width">
                    <input matInput required placeholder="Reden" type="text" id="subject" pattern="[a-zA-Z]*"
                    [(ngModel)]="subject" name="subject">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-select required placeholder="Werknemer" id="employee"
                    [(ngModel)]="employee" name="employee">
                        <mat-option *ngFor="let employee of employees" [value]="employee">
                            {{employee.name}} {{employee.firstname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-step>

            <mat-step>

                <ng-template matStepLabel>Bezoeker</ng-template>

                <mat-form-field class="half-width pad" >
                    <input matInput required placeholder="Naam" id="nameVisitor"
                    [(ngModel)]="nameVisitor" name="nameVisitor">
                </mat-form-field>
        
                <mat-form-field class="half-width">
                    <input matInput required placeholder="Voornaam" id="firstnameVisitor"
                    [(ngModel)]="firstnameVisitor" name="firstnameVisitor">
                </mat-form-field>
        
                <mat-form-field class="full-width">
                    <input matInput placeholder="Bedrijf" id="companyVisitor"
                    [(ngModel)]="companyVisitor" name="companyVisitor">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="E-mail" id="emailVisitor"
                    [(ngModel)]="emailVisitor" name="emailVisitor">
                </mat-form-field>

            </mat-step>

            <mat-step>

                <ng-template matStepLabel>Datum, tijd & locatie</ng-template>

                    <mat-form-field class="low-width pad">
                        <input matInput required [min]="minDate" [matDatepicker]="picker" placeholder="Datum"
                        id="date" [(ngModel)]="date" name="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
            
                    <!-- <mat-form-field class="low-width pad"> 
                        <input matInput type="time" min="8:00" max="18:00" required id="startHour"
                        [(ngModel)]="startHour" name="startHour" placeholder="Van">
                    </mat-form-field>
            
                    <mat-form-field class="low-width">
                        <input matInput type="time" [min]="startHour" max="18:00" id="endHour"
                        [(ngModel)]="endHour" name="endHour" placeholder="Tot">
                    </mat-form-field> -->
        
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Plaats" id="location"
                        [(ngModel)]="location" name="location">
                    </mat-form-field>
                
            </mat-step>

        </mat-horizontal-stepper>

        <button mat-flat-button type="submit">Submit</button>
   
    </form>
</div>