.full-width { width: 100%; }
    
mat-card { width: 300px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    height: auto;
    margin-bottom: 5%; }

.container { padding: 20px 30px; }

.row { padding: 10%; }

.img-responsive {
    width: 28%;
    max-width: 1700px;
    height: auto;
    padding-top: 1%;
    margin-bottom: 0%;
  }