.full-width { width: 100%; }
    
mat-card { width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center; }

.container { padding: 20px 50px; }

.row { padding: 10%; }

.img-responsive {
    max-width: 30%;
    max-height: 30%;
    padding-top: 1%;
    margin-bottom: 0%;
  }