<body>
    <div class="col-md-12 text-center h-75img ">
        <img  src="assets/3it-tr.png"  class="img-responsive" alt="Responsive image">
    </div>

    <div class="container allign-middle" >
        <mat-card>
            <div class="row" >
                <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Username" id="username" required
                        [(ngModel)]="username" name="username" #u="ngModel" color="primary">
                    </mat-form-field>
    
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Password" id="Password" required
                        [(ngModel)]="password" name="password" #p="ngModel" color="primary">
                    </mat-form-field>
    
                    <button mat-flat-button type="submit" color="primary" class="btn btn-success">Submit</button>

                    <!-- <button mat-flat-button type="submit" color="primary" class="btn btn-success" [disabled]="!form.form.valid">Submit</button> -->
                    <button mat-flat-button type="button" class="btn btn-cancel" (click)="cancel()">Cancel</button>
                </form>
            </div>
        </mat-card>

    </div>
</body>