<!-- <!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head> -->

<body>
    <div class="container">

    <div class="example-container mat-elevation-z8">

        <div >
            <button mat-button [matMenuTriggerFor]="menu" class="menu"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="toEmployees()">Werknemers</button>
                <button mat-menu-item (click)="newAppointment()">Nieuwe afspraak</button>
            </mat-menu>
        </div>
        
        <div class="sort">
            <mat-form-field class="filter">
                    <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()" placeholder="Filter" class="filter" >
            </mat-form-field>
            <mat-form-field class="filterDate">
                <input matInput [matDatepicker]="picker" class="filterDate"
                    (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
        </div>
    
        <div class="table-responsive" flex layout="row">
            <mat-table [dataSource]="listData" matSort>

                <ng-container matColumnDef="loggedIn">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let visitor"><button mat-icon-button  (click)="logInOut(visitor)">
                        <mat-icon *ngIf="visitor.loggedIn">person</mat-icon>
                        <mat-icon *ngIf="!visitor.loggedIn">person_outline</mat-icon>
                    </button></mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Naam</mat-header-cell>
                    <mat-cell *matCellDef="let visitor"> {{visitor.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="firstname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Voornaam </mat-header-cell>
                    <mat-cell *matCellDef="let visitor"> {{visitor.firstname}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="company">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Bedrijf </mat-header-cell>
                    <mat-cell *matCellDef="let visitor"> {{visitor.company}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="subject">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Reden </mat-header-cell>
                    <mat-cell *matCellDef="let visitor"> {{visitor.subject}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                    <mat-cell *matCellDef="let visitor"> {{visitor.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="telnr">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Telnr </mat-header-cell>
                    <mat-cell *matCellDef="let visitor"> {{visitor.telnr}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="day">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Datum </mat-header-cell>
                    <mat-cell *matCellDef="let visitor"> {{visitor.day}} </mat-cell>
                </ng-container>           

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let visitor">
                    <button mat-icon-button (click)="info(visitor)" color="primary"><mat-icon>info</mat-icon></button>
                    </mat-cell>
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>

            </mat-table>

            <!-- <div class="buttons">
                <button mat-raised-button (click)="previousDay()" ><mat-icon>keyboard_arrow_left</mat-icon></button>
                <button mat-raised-button (click)="nextDay()" ><mat-icon>keyboard_arrow_right</mat-icon></button>
            </div> -->

        </div>
    </div>
    </div>
</body>
