.t { font-size: 30px; padding:2%;}

.container {padding: 20px 50px}

.full-width {
  width: 100%;
}

.pad {
  padding-right: 5%;
}

.form {
  min-width: 150px;
  max-width: 800;
  width: 100%;
}

.half-width {
    width: 47.5% 
}

.low-width {
  width: 30%;
}

mat-horizontal-stepper { background-color: #fafafafa; }

.mat-step{ height: 200px;}

button { float: right; }

.arrleft { float: left; }
.arrright { float: right; }

