<div class="progressbar" [hidden]="!progress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="container"> 
    <div class="t">
        <h1 class="colorblue">Selecteer wie je wil afmelden</h1>
        <mat-divider></mat-divider>
    </div>

    <form (ngSubmit)="onSubmit(logoutForm.value)" #logoutForm="ngForm">

        <div class="form-group">
            <mat-select class="form-control" id="visitor" 
                required 
                [(ngModel)]="visitor" name="visitor">
                <mat-option *ngFor="let visitor of visitors" [value]="visitor">{{visitor.name}} {{visitor.firstname}}</mat-option> 
            </mat-select>
        </div>

        <button mat-flat-button type="submit" color="primary" class="btn btn-success" [disabled]="!logoutForm.form.valid">Submit</button>
        <button mat-flat-button type="button" class="btn btn-cancel" (click)="cancel()">Cancel</button>
    </form>
</div>
