form { padding: 2%;}

.container {
    height: 550px;
    width: 700px;
    overflow-y: hidden;
}

button {
    margin: 16px 8px 0px;
}

mat-form-field { width: 95%; }

.button-row {
    position: relative;
    bottom: 0;
    overflow-x: hidden;
    padding-left: 60%;
}

#btns1 { padding-top: 125px;}


.fullwidth {
    width: 100%;
    overflow-x: hidden;
}    

mat-table { height: 275px; overflow: auto; }

.progressbar {
    position: relative;
}

.upload {
    padding: 25px 5px 5px;
}
