form { padding: 2%;}

.container {
    height: 500px;
    width: 700px;
}

button {
    margin: 16px 8px;
}

mat-form-field { width: 100%; }

.button-row {
    float: right; 
    position: absolute;
    bottom: 0;
}


.fullwidth {
    width: 100%;
    overflow-x: hidden;
}    

mat-table { height: 300px; overflow: auto; }



