<!-- <!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head> -->

<body>
    <div class="container"> 
        <div class="t">
            <h1 class="colorblue">Selecteer wie je wil inloggen</h1>
            <!-- <button mat-icon-button matTooltip="Indien de nodige naam er niet tussen staat, gelieve een nieuwe login te maken"><mat-icon>help_outline</mat-icon></button> -->
            <mat-divider></mat-divider>
        </div>

        <form (ngSubmit)="onSubmit(logoutForm.value)" #logoutForm="ngForm">

            <div class="form-group">
                <mat-select class="form-control" id="visitor" 
                    required 
                    [(ngModel)]="visitor" name="visitor" >
                    <div>
                        <mat-option *ngFor="let visitor of visitors" [value]="visitor">{{visitor.name}} {{visitor.firstname}}</mat-option> 
                    </div>
                </mat-select>
            </div>

            <button mat-flat-button type="submit" color="primary" class="btn btn-success" [disabled]="!logoutForm.form.valid">Submit</button>
            <button mat-flat-button type="button" class="btn btn-cancel" (click)="cancel()">Cancel</button>
        </form>
    </div>
</body>

<!-- </html> -->