.container { 
    background-color: #fafafaf1;
    padding: 3%;
}

mat-form-field {
    padding: 2%;
    width: 60%;
}

h3 { 
    border-bottom: solid darkgray 0.4mm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
