<meta content="width=device-width, height=device-height ,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <div>
        <mat-toolbar color="accent" class="toolbar">
            <span class="t">{{navbarmessage}}</span>
            <span class="example-fill-remaining-space"></span>
            <button  mat-button (click)="toManagement()">
                    <mat-icon >settings</mat-icon>
                </button>
            <button  mat-button (click)="toHome()">
                <mat-icon >home</mat-icon>
            </button>
        </mat-toolbar>
    </div>
