<div class="container">
  <h3>Wachtwoord resetten</h3>
  <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
    <mat-form-field>
      <input matInput placeholder="E-mail" id="email" required
        [(ngModel)]="email" name="email" #e="ngModel" color="primary">
    </mat-form-field>

      <div class="form-group">
        <mat-form-field >
          <input matInput placeholder="Wachtwoord" mat-form-field type="password"  id="password" 
            required [(ngModel)]="password" name="password" #pass="ngModel" reverse="true">
            <mat-error *ngIf="pass.invalid && (pass.dirty || pass.touched)" color="warn">Geef een geldig wachtwoord in a.u.b.</mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-group">
        <mat-form-field >
          <input matInput placeholder="Wachtwoord herhalen" type="password"  id="c_password"
              required [(ngModel)]="c_password" name="c_password" #c_pass="ngModel">
              <mat-error *ngIf="c_pass.invalid && (c_pass.dirty || c_pass.touched)" color="warn">Herhaal het wachtwoord a.u.b.</mat-error>
        </mat-form-field>
      </div>

      <button mat-flat-button type="submit" color="primary" class="btn btn-success">Verstuur</button>
      
      <button mat-flat-button type="button" class="btn btn-cancel" (click)="cancel()">Terug</button>
  </form>
</div>

