form { padding: 2%;}

.container {
    height: 650px;
    width: 500px;
}

button {
    margin: 16px 8px;
}

mat-form-field { width: 100%; }

.button-row {float: right; bottom: 5%;}

mat-divider { margin-bottom: 30px; }

.usercon {
    height: 230px;
}

.buttons { float: right; }