form { padding: 2%;}

.container {
    height: 670px;
    width: 500px;
    overflow: hidden;
}

#spin {
    padding: 2%;
    width: 100%; 
    right: 10%;
}

button {
    margin: 16px 8px 0px;
}

mat-form-field { width: 100%; }

.button-row {float: right; bottom: 10%;}

mat-divider { margin-bottom: 30px; }

.usercon {
    height: 230px;
}

.buttons { float: right; }


.progressbar {
    position: relative;
}