
<!-- <!DOCTYPE html>
<html lang="nl">

    <head>
        <meta charset="utf-8" >
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head> -->

    <body>
        <div class="container allign-middle" [hidden]="loading">
            <div class="col-md-12 text-center h-75 d-inline-block img ">
                <img src="assets/3it.png"  class="img-responsive" alt="Responsive image" (load)="onLoad()">
            </div>

            <div class="row" >
                <div class="col-md-6 text-center">
                    <button mat-raised-button type="button" color="primary" (click)="loginParticulier()">Particulier</button>
                </div>

                <div class="col-md-6 text-center">
                    <button mat-raised-button type="button" color="primary"(click)="loginBedrijf()">Bedrijf   </button>
                </div>
            </div>
        </div>
    </body>
<!-- 
</html> -->
    