<div class="spinner" [hidden]="!loading">
    <mat-spinner></mat-spinner>
</div>

<div class="container allign-middle" [hidden]="loading">
    <div class="col-md-12 text-center h-75 d-inline-block img ">
        <img  src="assets/3it-tr.png"  class="img-responsive " alt="Responsive image" (load)="onLoad()">
    </div>

    <div class="row row align-items-end home" >
        <div class="col-md-6 text-center">
            <button mat-raised-button type="button" color="primary" (click)="toLogin()">Aanmelden</button>
        </div>

        <div class="col-md-6 text-center">
            <button mat-raised-button type="button" color="primary" (click)="toLogout()">Afmelden</button>
        </div>
    </div>
</div>