<form (ngSubmit)="onSubmit(employeeForm.value)" #employeeForm="ngForm">
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="name" mat-form-field type="text"  id="name"
          required [(ngModel)]="name" name="name" #n="ngModel">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="firstname" mat-form-field type="text"  id="firstname"
            [(ngModel)]="firstname" name="firstname" #n="ngModel">
        </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="email" mat-form-field type="email"  id="email"
          required [(ngModel)]="email" name="email" #em="ngModel">
      </mat-form-field>
    </div>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </div>
   </form>